.track-entry {
    display: table-row;
    vertical-align: middle;
    text-decoration: none;
    transition: box-shadow ease-in-out 0.18s;
    color: #7f8fa4;
    text-align: left;
    border-radius: 4px;
}