@import "sidebar/sidebar";
@import "window";
@import "col";
@import "row";

.content {
    max-width: 1600px;
    margin: auto;

    [class*="content-col-"] {
        padding: 0;
    }

    &__title {
        margin-bottom: 50px;
        font-size: 50 /16 + rem;
    }
}