//
// Common: variables: colors
//
// @author: lemone.com
//

$white: #fff;
$black: #000;

$gray: #8D8D8D;
$shark: #222326; //dark heading colour
$mine-shaft: #282828;

$malachite: #1ED760;
$governor-bay: #2D46B9;
$cornflower-blue: #509BF5;
$golden-tainoi: #FFC864;

$gradient-1: linear-gradient(0deg, rgb(29, 29, 29) 50%, rgba(68,67,67,1) 100%);

$body-bg: $black;

$theme-colors: (
  "primary": $malachite,
  "secondary": $governor-bay,
);

$primary: $malachite;
$secondary: $governor-bay;

$headings-color: $white;
$body-color: $white;

$link-color: $white;
$link-hover-color: $white;
