//
// Common: base
//
// @author: lemone.com
//

@import "node_modules/bootstrap/scss/bootstrap-reboot";

html {
  -webkit-font-smoothing: antialiased;
  -khtml-font-smoothing: antialiased;
  -apple-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
