.album-information {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &__heading {
        font-weight: bold;
        color: $white;
        margin-bottom: 20px;

        @include media-breakpoint-up(xl) {
            font-size: 50px;
        }
    }

    &__subheading {
        color: $off-white;
        text-transform: uppercase;
        font-size: 14 / 16 + rem;
        font-weight: bold;
        margin-bottom: 15px;
    }

    &__text {
        color: $gray;
        line-height: 20px;

        strong {
            color: $off-white;
            font-weight: normal;
        }
    }
}